body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 30px;
    color: #575757;
}

h1 {
    font-size: 50px;
}

.half-width {


    width: 50%;
    padding: 75px;
}

.half-width img {
    width: 90%;
    padding: 1%;

}

.flex-container {

    display: flex;

}

.test {
    color: orange;
}

.top-banner {}

.orange-color {
    color: #0da6fa;
}

.order-button {
    text-decoration: none;
    padding: 15px 40px;

    background-image: linear-gradient(#0da6fa, #14b9fc);
    color: white;
    border-radius: 20px;


}

.second-section {


    background-image: url(shape/shape-one.jpg);
    background-repeat: no-repeat;
}

.my-recipes {

    text-align: center;
    padding-left: 450px;
    padding-right: 450px;
    padding-bottom: 160px;
}

p {

    font-family: 'Manrope', sans-serif;

    line-height: 28px;
}

.box {


    box-shadow: 10px 10px 40px gray;

    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;







}

.box img {

    width: 100%;
}

.not-deploy {
    width: 50%;
    padding: 20px;

}


.food-container {

    display: flex;

}