body {

    margin: 0;
}

.half-width {


    width: 50%;
}

.half-width img {
    width: 90%;
    padding: 1%;

}

.flex-container {

    display: flex;
    margin-bottom: 150px;
}

.test {
    color: orange;
}

.top-banner {}